/* Base HTML element styles and overrides */
@import url("base.css");

@import url("details.css");
@import url("layout.css");
@import url("links.css");
@import url("list.css");
@import url("sash.css");

.accent {
    color: var(--accent-colour)
}

.heading {
    display: block;
    font-weight: bold;
    text-align: center;
    justify-content: center;

    font-size: 2.5em;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex--horizontal {
    flex-direction: row;
}

.flex--central {
    justify-content: center;
    align-items: center;
}

.override-margin-top-small {
    margin-top: 5px;
}

.override-margin-left-small {
    margin-left: 5px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
