.body {
    margin: 0;
    width: 100%;
    min-height: calc(100% - 50px);
    font-family: 'Raleway';
    color: var(--white);
    background-color: var(--base-colour);
    display: flex;
    justify-content: center;
}

.width-container {
    max-width: 990px;
}

.main {
    height: 100%;
    margin-top: 50px;

    overflow: hidden;
}

.row {
    width: 100%;
}

.row--half {
    height: 50%;
}

.row--center {
    display: flex;
    align-items: center;
}

.text--centered {
    display: flex;
    justify-content: center;
}
