.sash {
    width: 200px;
    background: var(--accent-colour);
    position: fixed;
    top: 25px;
    left: -50px;
    text-align: center;
    letter-spacing: .25em;
    font-weight: bold;
    color: var(--base-colour);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    transform: rotate(-45deg);
}

.sash p {
    margin-top: 10px;
    margin-bottom: 10px;
}
